@import "../../styles/defaults.less";

@container-padding: 10px 25px;

@keyframes pulse {
  0% {
    background-color : #fff !important;
  }
  100% {
    background-color : #fff;
  }
}

.homeContainer {
  .container {
    padding: 20px 50px;
  }

  .rightButton {
    position: absolute;
    right: 20px;
  }
}

.welcomeScreen {
  width: 100%;
  text-align: center;
  img {
    margin: 0 auto;
    width: calc(100% - 100px);
  }
  h5 {
    color: #666;
    font-size: 24px;
  }
}

.tableContainer {
  .tableRow {
    transition: background-color 0.5s ease;
  }

  .checkbox {
    background-color: #fff;
  }

  .indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      margin-left: 10px;
    }

    span {
      margin-left: 5px;
    }
  }
}